# Get the Stytch secret, Stytch project ID, and Stytch public token from API Keys in the Stytch dashboard
STYTCH_PROJECT_ID='project-test-6a2ec590-1de6-c448-9a7d-d493641ccceb'
STYTCH_SECRET='secret-test-7G3xGC-QMRhp2W77megCMtz4SnQ1qUnumht='
PORT=4000 
APP_URL='http://localhost:5173'

DATABASE_URL="file:./dev.db"
